h3{
    margin-top: 10px;
    text-align: center;
}

.accountTable{
    text-align: center;
    margin: 10px;
}

.noData{
    text-align: center;
    /* margin-left: 600px; */
    margin-top: 50px;
}
