<div>
    <!-- <button class="btn btn-primary">Back</button> -->
    <h3>List of Accounts</h3>
</div>

<div class="accountTable">
    <div class="noData" *ngIf="accountData.length == 0">
        <b>No data available</b>
    </div>
    <div *ngIf="accountData.length > 0">
    <table class="table table-striped">
        <thead>
            <tr>
                <th width="15%" scope="col">Account Id</th>
                <th width="25%" scope="col">Branch Name</th>
                <th width="25%" scope="col">Account Type</th>
                <th width="25%" scope="col">Account Balance</th>
                <th></th>
                <!-- <th width="10%" scope="col"></th>
                <th width="10%" scope="col"></th> -->
            </tr>
        </thead>
        <tbody>
            
            <tr *ngFor="let account of accountData">
                <td>{{account.account_id}}</td>
                <td>{{account.branch_Name}}</td>
                <td>{{account.account_type}}</td>
                <td>{{account.account_balance}}</td>
                <td><button (click)="editAccount(account.account_id)" class="btn btn-primary">Edit</button></td>
            </tr>
        </tbody>
    </table>
</div>
</div>