<div class="Form">
    <section >
      <div class="mask d-flex align-items-center h-100 gradient-custom-3">
        <div class="container h-100">
          <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col-12 col-md-9 col-lg-7 col-xl-6">
              <div class="card" style="border-radius: 15px;">
                <div class="card-body p-5">
                  <h2 class="text-uppercase text-center mb-5">Login</h2>
    
                  <form #addLoginForm="ngForm" (ngSubmit)="loginUserFormSubmit(addLoginForm)">
 

                    <div class="form-outline mb-1">
                      <input required email #name1="ngModel" type="email" id="form3Example3cg" placeholder="Enter Email" class="form-control form-control-lg" required [(ngModel)]="user.email_ID" name="Email_ID" ngModel />
                      <label class="form-label" for="form3Example3cg"></label>
                      <div *ngIf = "name1.touched && name1.invalid" class="alert alert-danger">
            
                        <div *ngIf = "name1.errors?.['required']">EmailID required</div>
                        <div *ngIf = "name1?.errors?.['email']">Invalid Email</div>
                      </div>
                    </div>
    
                    <div class="form-outline mb-1">
                      <input required #name112="ngModel" type="password" id="form3Example4cg" placeholder="Enter Password"  class="form-control form-control-lg" required [(ngModel)]="user.password" name="Password" ngModel/>
                      <label class="form-label" for="form3Example4cg"></label>
                      <div *ngIf = "name112.touched && name112.invalid" class="alert alert-danger">
        
                        <div *ngIf = "name112.errors?.['required']">Password required</div>
                        
                      </div>
                    </div>

    
                    <div class="d-flex justify-content-center">
                      <button type="submit"
                        class="btn btn-primary btn-block btn-lg" [disabled]="addLoginForm.invalid || addLoginForm.untouched">Login</button>
                    </div>
    
                    <p class="text-center text-muted mt-5 mb-0">Don't have an account? <a href="#!"
                        class="fw-bold text-body" routerLink="/register" routerLinkActive="active"><u>Register here</u></a></p>
    
                  </form>
    
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    </div>