<nav class="navbar navbar-expand-lg " style="background-color: #d7eaf3a9;" >
 
    <a class="navbar-brand1" href="#">
      <img class="logo" src="assets/logo3.png" width="30" height="30" alt="">
    </a>
 
    <div class="container-fluid" >
      <a class="navbar-brand" href="#">Sunflower Bank</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a id="home" class="nav-link active" aria-current="page" routerLink="/" routerLinkActive="active" href="#">Home</a>
          </li>
          <!-- *ngIf="condn1" -->
          <li *ngIf="!session.isLoggedIn()"  class="nav-item">
            <a id="signin" class="nav-link" href="#" routerLink="/login" routerLinkActive="active">Sign In</a>
          </li>
          <li *ngIf="!session.isLoggedIn()"  class="nav-item">
            <a id="signup" class="nav-link" href="#" routerLink="/register" routerLinkActive="active">Sign Up</a>
          </li>
          <li *ngIf="session.isLoggedIn()" class="nav-item">
            <a id="listofusers" class="nav-link" href="#" routerLink="/getUsers" routerLinkActive="active">Users</a>
          </li>
          <li *ngIf="session.isLoggedIn()" class="nav-item">
            <a id="addaccount" class="nav-link" href="#" routerLink="/addAccount" routerLinkActive="active">Add Account</a>
          </li>
          <!-- <div class="welcome">Welcome {{selectName}} !!!</div> -->
          <div >
          <li class="nav-item">
            <div *ngIf="session.isLoggedIn()" class="welcome">Welcome {{ getCurrentName() }} !!!</div>
          </li>
        </div>
        <div class="logoutButton" >
          <li *ngIf="session.isLoggedIn()" class="nav-item">
              <a href="" (click)="logout()">Logout</a>
              <!-- <button class="logoutButton" type="button" class="btn btn-info" (click)="logout()">Logout</button> -->
          </li>
        </div>
         
         
        
        </ul><br>
        
        
      </div>
    </div>
  
  </nav>
