.navbar-brand{
    font: bold;
    color: black;
    font-size: 30px;
    font: bold;
    margin-right: 30px;
}

.navbar-brand1{
    margin-left: 17px;
}

.logo{
    border-radius: 10px;
}

a:link {
    color: red;
  }
  
  /* visited link */
  a:visited {
    color: purple;
  }
  
  /* mouse over link */
  a:hover {
    color: blue;
  }
  
  /* selected link */
  a:active {
    color: rgb(212, 212, 237);

  }



  #home{
    margin-top: 8px;
  }
  
  #signin{
    margin-top: 8px;
  }

  #signup{
    margin-top: 8px;
  }

  #listofusers{
    margin-top: 8px;
  }

  #addaccount{
    margin-top: 8px;
  }



/* .container-fluid{
    background-color: aquamarine;
} */


.logoutButton{
    text-align: center;
    
    padding-top: 1%;
    padding-right: 00px;
    color: white;
    outline: white;
    margin-left: 25px;
    /* margin-left: 450px; */
    
    /* margin-left: 585px; */
}

.welcome{
  /* margin-top: 10px; */
  margin-left: 460px;
  text-align: center;
  margin-right: 30px;
  margin-top: 10px; 

}