<div class="Form">
  <section>
    <div class="mask d-flex align-items-center h-100 gradient-custom-3">
      <div class="container h-100">
        <div class="row d-flex justify-content-center align-items-center h-100">
          <div class="col-12 col-md-9 col-lg-7 col-xl-6">
            <div class="card" style="border-radius: 15px;">
              <div class="card-body p-5">
                <h2 class="text-uppercase text-center mb-5">Account Details</h2>

                <form #addAccountForm="ngForm" (ngSubmit)="addAccountFormSubmit(addAccountForm)">

                  <div class="form-outline mb-1">
                    <input required #name112="ngModel" type="text" id="form3Example1cg"
                      class="form-control form-control-lg" placeholder="Branch Name" required
                      [(ngModel)]="account.branch_Name" name="branch_Name" />
                    
                    <div *ngIf="name112.touched && name112.invalid" class="alert alert-danger">

                      <div *ngIf="name112.errors?.['required']">Branch Name required</div>

                    </div>
                  </div>

                  <!-- <div class="form-outline mb-1">
                    <input required #name113="ngModel" type="text" id="form3Example3cg"
                      class="form-control form-control-lg" placeholder="Account Type" required
                      [(ngModel)]="account.account_type" name="account_type" />
                    <label class="form-label" for="form3Example3cg"></label>
                    <div *ngIf="name113.touched && name113.invalid" class="alert alert-danger">

                      <div *ngIf="name113.errors?.['required']">Account Type required</div>

                    </div>
                  </div> -->

                  <div class="form-outline mb-4" style="margin-top: 25px;">
                    <div class="form-control">
                      <h6 class="">Account Type : </h6>
                      <div>
                        <label for="" class="radio-inline">
                          <input type="radio" value='C' name="account_type" required [(ngModel)]="account.account_type" ngModel>
                          Current
                        </label>
                        <label for="" class="radio-inline" style="padding-left: 15px;">
                          <input type="radio" value='S' name="account_type" required [(ngModel)]="account.account_type" ngModel>
                          Saving
                        </label>
                        
                      </div>
                    </div>
                  </div>

                  <div class="form-outline mb-1">
                    <input required #name114="ngModel" type="number" min="0" id="one" class="form-control form-control-lg"
                      placeholder="Account Balance" required [(ngModel)]="account.account_balance"
                      name="account_balance" />
                    <label class="form-label" for="form3Example3cg"></label>
                    <div *ngIf="name114.touched && name114.invalid" class="alert alert-danger">
                      <div *ngIf="name114.errors?.['min']">Balance should not be negative</div>
                      <div *ngIf="name114.errors?.['required']">Account Balance required</div>

                    </div>
                  </div>



                  <!-- <div class="form-check d-flex justify-content-center mb-5">
                    <input class="form-check-input me-2" type="checkbox" value="" id="form2Example3cg" />
                    <label class="form-check-label" for="form2Example3g">
                      I agree all statements in <a href="#!" class="text-body"><u>Terms of service</u></a>
                    </label>
                  </div> -->

                  <div id="btnAcc" class="d-flex justify-content-center">
                    <button id="btnCreate" type="submit"
                      class="btn btn-success btn-block btn-lg" [disabled]="!addAccountForm.valid" >Create</button>
                      <button id="btnBack" type="submit"
                      class="btn btn-success btn-block btn-lg" routerLink="/getUsers" >Back</button>
                  </div>
                  <div class="d-flex justify-content-center">
                    
                  </div>


                </form>

              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>