<div id="updateDetails" class="Form">
  <section>
    <div class="mask d-flex align-items-center h-100 gradient-custom-3">
      <div class="container h-100">
        <div class="row d-flex justify-content-center align-items-center h-100">
          <div class="col-12 col-md-9 col-lg-7 col-xl-6">
            <div class="card" style="border-radius: 15px;">
              <div class="card-body p-5">
                <h2 class="text-uppercase text-center mb-5">Account Details</h2>

                <form #editAccountForm="ngForm" (ngSubmit)="editAccountFormSubmit(editAccountForm)">

                  <div class="form-outline mb-2">
                    <label class="form-label" for="form3Example1cg"></label>
                    <input type="text" id="form3Example1cg1" class="form-control form-control-lg"
                      placeholder="AccountID" required [(ngModel)]="account.account_id" name="AccountID" disabled />
                  </div>

                  <div class="form-outline mb-2">
                    <input type="text" id="form3Example1cg2" class="form-control form-control-lg"
                      placeholder="Branch Name" required [(ngModel)]="account.branch_Name" name="branch_Name" />
                    <!-- <label class="form-label" for="form3Example1cg"></label> -->
                  </div>

                  <div class="form-outline mb-2" >
                    <div class="form-control">
                      <h6 class="">Account Type : </h6>
                      <div>
                        <label for="" class="form-label">
                          <input type="radio" value='C' name="account_type" required [(ngModel)]="account.account_type" ngModel>
                          Current
                        </label>
                        <label for="" class="form-label" style="padding-left: 15px;">
                          <input type="radio" value='S' name="account_type" required [(ngModel)]="account.account_type" ngModel>
                          Saving
                        </label>
                      </div>
                    </div>
                  </div>

                  <div class="form-outline mb-2">
                    <input required #name114="ngModel" type="number" min="0" id="one"
                      class="form-control form-control-lg" placeholder="Account Balance" required
                      [(ngModel)]="account.account_balance" name="account_balance" />
                    <label class="form-label" for="form3Example3cg"></label>
                    <div *ngIf="name114.touched && name114.invalid" class="alert alert-danger">
                      <div *ngIf="name114.errors?.['min']">Balance should not be negative</div>
                    </div>
                  </div>


                  <div class="d-flex justify-content-center">
                    <button type="submit" class="btn btn-primary btn-block btn-lg"
                      id="editButton">Edit</button>
                    <button type="submit" class="btn btn-primary btn-block btn-lg"
                      (click)="BackEdit()" id="btnBack">Back</button>
                  </div>


                </form>

              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>