<h2>List of Users</h2>
<div class="userTable">
    
    <table id="tableuser" class="table table-striped">
        <thead>
            <tr>
                <th width="20%" scope="col">User Id</th>
                <th width="20%" scope="col">User Name</th>
                <th width="20%" scope="col">DOB</th>
                <th width="20%" scope="col">Mobile Number</th>
                <th width="5%" scope="col"></th>
                <th width="5%" scope="col"></th>
                <th width="5%" scope="col"></th>
               
            </tr>
        </thead>
        <tbody>
            
            <tr *ngFor="let user of userData">
                <td>{{user.user_ID}}</td>
                <td>{{user.name}}</td>
                <td>{{user.sampleDate}}</td>
                <td>{{user.mobile_number}}</td>
                <td><button type="button" class="btn btn-primary" (click)="goToEditUser(user.user_ID)">Edit</button>
                </td>
                <td><button type="button" class="btn btn-info" (click)="goToViewAccount(user.user_ID)">View</button>
                </td>
                <!-- <td><button type="button" class="btn btn-info" (click)="goToAddAccount(user.user_ID)">AddAccount</button></td> -->
                <td><button type="button" class="btn btn-danger" (click)="goToDeleteUser(user.user_ID)">Delete</button>
                </td>

            </tr>

        </tbody>
    </table>

</div>