<div class="form-group">
  <section>
    <div class="mask d-flex align-items-center h-100 gradient-custom-3">
      <div class="container h-100">
        <div class="row d-flex justify-content-center align-items-center h-100">
          <div class="col-12 col-md-9 col-lg-7 col-xl-6">
            <div class="card" style="border-radius: 15px;">
              <div class="card-body p-5">
                <h2 class="text-uppercase text-center mb-5">Add New User</h2>

                <form #addUserForm="ngForm" (ngSubmit)="addUserFormSubmit(addUserForm)">

                  <div class="form-outline mb-1">
                    <input #name4="ngModel" type="text" id="form3Example1cg" class="form-control form-control-lg"
                      placeholder="Name" required [(ngModel)]="user.name" name="Name" ngModel />
                    <label class="form-label" for="form3Example1cg"></label>
                    <div *ngIf="name4.touched && name4.invalid" class="alert alert-danger">
                      <div *ngIf="name4.errors?.['required']">Name required</div>
                    </div>
                  </div>

                  <div class="form-outline mb-1">
                    <input required email #name1="ngModel" type="email" id="form3Example3cg"
                      class="form-control form-control-lg" placeholder="Email" required [(ngModel)]="user.email_ID"
                      name="Email_ID" ngModel />
                    <label class="form-label" for="form3Example3cg"></label>
                    <div *ngIf="name1.touched && name1.invalid" class="alert alert-danger">

                      <div *ngIf="name1.errors?.['required']">EmailID required</div>
                      <div *ngIf="name1?.errors?.['email']">Invalid Email</div>
                    </div>
                  </div>

                  <div class="form-outline mb-1">
                    <input required #name112="ngModel" type="password" minlength="6" id="form3Example3cgh"
                      class="form-control form-control-lg" placeholder="Password" required [(ngModel)]="user.password"
                      name="Password" ngModel />

                    <label class="form-label" for="form3Example3cg"></label>
                    <div *ngIf="name112.touched && name112.invalid" class="alert alert-danger">

                      <div *ngIf="name112.errors?.['required']">Password required</div>
                      <div *ngIf="name112?.errors?.['minlength']">Password should be of
                        atleast 6 characters
                      </div>
                    </div>

                  </div>

                  <div class="form-outline mb-1">
                    <input #name="ngModel" minlength="10" maxlength="10" required type="text" id="one"
                      class="form-control form-control-lg" placeholder="Mobile Number" required
                      [(ngModel)]="user.mobile_number" name="Mobile_number" ngModel />
                    <label class="form-label" for="form3Example3cg"></label>
                    <div *ngIf="name.touched && name.invalid" class="alert alert-danger">
                      <div *ngIf="name.errors?.['required']">Mobile number required </div>
                      <div *ngIf="name?.errors?.['minlength'] || name?.errors?.['maxlength']">Mobile number should be of
                        10 characters
                      </div>

                    </div>
                  </div>

                  <div class="form-outline mb-1">
                    <input #nameSecondary="ngModel" minlength="10" maxlength="10"  type="text" id="two" class="form-control form-control-lg"
                      placeholder="Secondary Mobile Number" required [(ngModel)]="user.secondary_Mobile"
                      name="Secondary_Mobile" ngModel />
                    <label class="form-label" for="form3Example3cg"></label>
                    <div >
                      <!-- <div *ngIf="nameSecondary.errors?.['required']">Mobile number required </div> -->
                      <div *ngIf="nameSecondary?.errors?.['minlength'] || nameSecondary?.errors?.['maxlength']"  class="alert alert-danger">Mobile number should be of
                        10 characters</div>

                    </div>
                  </div>

                  <div class="form-outline mb-1">
                    <div class="form-control">
                      <h6 class="">Date Of Birth : </h6>
                      <input #name2="ngModel" type="date" id="three" class="form-control form-control-lg"
                        placeholder="DOB (DD-MMM-YYYY)" required [(ngModel)]="user.sampleDate" name="DOB" ngModel />
                      <label class="form-label" for="form3Example3cg"></label>
                      <div *ngIf="name2.touched && name2.invalid" class="alert alert-danger">
                        <div *ngIf="name2.errors?.['required']">DOB required</div>
                        <!-- <div *ngIf="name2.errors?.['max']">Invalid</div> -->
                        
                      </div>
                      <!-- <div *ngIf="getCurrentDate()>user.sampleDate" class="alert alert-danger">Invalid</div> -->
                    </div>
                  </div>


                  <div class="form-outline mb-4" style="margin-top: 25px;">
                    <div class="form-control">
                      <h6 class="">Gender : </h6>
                      <div>
                        <label for="" class="radio-inline">
                          <input #name25="ngModel" type="radio" value='M' name="Gender" required [(ngModel)]="user.gender" ngModel>
                          Male
                        </label>
                        <label for="" class="radio-inline" style="padding-left: 15px;">
                          <input #name25="ngModel" type="radio" value='F' name="Gender" required [(ngModel)]="user.gender" ngModel>
                          Female
                        </label>
                    
                      </div>
                    </div>
                  </div>

                  <div class="form-check d-flex justify-content-center mb-5">
                    <input #name33="ngModel" name="check" class="form-check-input me-2" type="checkbox"
                      value="" id="form2Example3cg" required ngModel />
                    <label class="form-check-label" for="form2Example3g">
                      I agree all statements in <b>Terms of service</b>
                    </label>
                  </div>  


                  <div class="d-flex justify-content-center">
                    <button style="border-radius: 8px;" type="submit"
                      class="btn btn-primary btn-block btn-lg"
                      [disabled]="!addUserForm.form.valid">Register</button>
                  </div>

                  <p class="text-center text-muted mt-5 mb-0">Already have an account? <a href="#!"
                      class="fw-bold text-body" routerLink="/login" routerLinkActive="active"><u>Login here</u></a></p>

                </form>

              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>