<div class="container">
    <h1>User Registraton</h1>
    <form class="form-group">
        <label for="namee">Name</label><br>
        <input type="text" name="namee" class="form-control">
    </form>
    <pre></pre>
    <form class="form-group">
        <label for="Email_ID">Email</label><br>
        <input type="text" name="Email_ID" class="form-control">
    </form>
    <pre></pre>
    <form class="form-group">
        <label for="Mobile_number">Mobile Number</label><br>
        <input type="text" name="Mobile_number" class="form-control">
    </form>
    <pre></pre>
    <form class="form-group">
        <label for="Secondary_Mobile">Secodary Mobile Number</label><br>
        <input type="text" name="Secondary_Mobile" class="form-control">
    </form>
    <pre></pre>
    <form class="form-group">
        <label for="DOB">Date Of Birth</label><br>
        <input type="text" name="DOB" class="form-control">
    </form>
    <pre></pre>
    <form class="form-group">
        <label for="Gender">Gender</label><br>
        <input type="text" name="Gender" class="form-control">
    </form>
    <pre></pre>
    <button class="btn btn-primary" type="submit">Submit</button>

</div>